<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <listeners>
        <listener class-name="utils.SuiteListeners"/>
    </listeners>
    <test verbose="10" preserve-order="true" name="Volumes/Samsung_T5/bay">
        <parameter name="browserName" value="chrome"/>
        <classes>
            <class name="SmokeTests">

            </class>

        </classes>
    </test>
</suite>